<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<a class="btn btn-secondary otherNav" href="/item/add">add item</a>
<a class="btn btn-secondary otherNav" href="/category/add">add category</a>
<a  class="btn btn-secondary otherNav" href="/category/remove">remove Category</a>

<h4>In Storage</h4>
<table class="table">
    <tr>
        <th>Category</th>
        <th>Number</th>
        <th>Size</th>
        <th>Comments</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    <tr th:each="item : ${inItems}">
        <td th:text="${item.category.name}"></td>
        <td>
            <span th:if="${item.number != 0}" th:text="${item.number}"> </span>
        </td>
        <td th:text="${item.size}"></td>
        <td th:text="${item.other}"></td>
        <td><a class="btn btn-secondary" th:href="@{'/item/edit/' + ${item.id}}">edit</a></td>
        <td><a class="btn btn-secondary" th:href="@{'/item/remove-item/' + ${item.id}}">remove</a></td>
    </tr>

</table>

<h4>Out Of Storage</h4>
<table class="table">
    <tr>
        <th>Category</th>
        <th>Number</th>
        <th>Size</th>
        <th>Comments</th>
        <th>Edit</th>
    </tr>
    <tr th:each="item : ${outItems}">
        <td th:text="${item.category.name}"></td>
        <td>
            <span th:if="${item.number != 0}" th:text="${item.number}"> </span>
        </td>
        <td th:text="${item.size}"></td>
        <td th:text="${item.other}"></td>
        <td><a th:href="@{'/item/edit/' + ${item.id}}">edit</a></td>
    </tr>

</table>

</body>
</html>