<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${item}">
    <div class="form-group">
        <label th:for="category">Category</label>
        <select th:name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="item">Number</label>
        <input class="form-control" th:field="*{number}" />
        <span th:errors="*{number}" class="error"></span>
    </div>
    <input type="hidden" class="form-control" th:field="*{size}" />
    <p id="error" th:text="${error}"></p>
    <input type="submit" value="Search Item" />
</form>

</body>
</html>