<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<br />

<nav th:fragment="navigation">
    <a class="btn btn-secondary" href="/changes/">all</a> |
    <a class="btn btn-secondary" href="/changes/categories">category</a> |
    <a class="btn btn-secondary" href="/changes/items">inventory</a> |
    <a class="btn btn-secondary" href="/changes/player-items">player item</a> |
    <a class="btn btn-secondary" href="/changes/players">player</a> |
    <a class="btn btn-secondary" href="/changes/tasks">tasks</a>
</nav>

<table class="table">
    <tr>
        <th>Item</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    <tr th:each="change : ${changes}">
        <td th:text="${change.item}"></td>
        <td th:text="${change.status}"></td>
        <td th:text="${change.myDate}"></td>
    </tr>

</table>

</body>
</html>