<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container body-content">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<a class="btn btn-secondary otherNav" href="/tasks/add">add task</a>

<table class="table">
    <tr>
        <th>Task</th>
        <th>Remove Task</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><a th:href="@{'/tasks/add-remove-players/' + ${task.id}}" th:text="${task.name}"></a></td>
        <td><a class="btn btn-secondary" th:href="@{'/tasks/remove/' + ${task.id}}">remove task</a></td>
    </tr>

</table>

</body>
</html>