<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>give item to player: <a th:href="@{'/players/view/' + ${form.player.id}}" th:text="${form.player.name}">Default Title</a></h1>
<nav th:replace="fragments :: navigation"></nav>

<div class="box1">
<h4>Items available</h4>
    <table style="width: 700px; text-align:left; margin-left: -200px;" class="table" th:object="${form}">
        <tr>
            <th>Category</th>
            <th>Number</th>
            <th>Size</th>
            <th>Comments</th>
            <th>Give Item</th>
        </tr>
        <tr th:each="item : *{items}">
            <td th:text="${item.category.name}"></td>
            <td th:text="${item.number}"></td>
            <td th:text="${item.size}"></td>
            <td th:text="${item.other}"></td>
            <td><a class="btn btn-secondary" th:href="@{'/players/add-item-to-player/' + *{player.id} + '/' + ${item.id}}">give item</a></td>
        </tr>
    </table>
</div>

<br />

<div class="box2">
<h4 id="moveRight">Items in possession</h4>
<table class="table">
    <tr>
        <th>Category</th>
        <th>Number</th>
        <th>Size</th>
        <th>Comments</th>
        <th>Take Back Item</th>
    </tr>
    <tr th:each="item : ${hasItems}">
        <td th:text="${item.category.name}"></td>
        <td th:text="${item.number}"></td>
        <td th:text="${item.size}"></td>
        <td th:text="${item.other}"></td>
        <td><a class="btn btn-secondary" th:href="@{'/players/remove-item-from-player/' + ${form.player.id} + '/' + ${item.id}}">take back item</a></td>
    </tr>
</table>
</div>

</body>
</html>