<!DOCTYPE html>
<html class="myFontClass" lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content bottomSpace">
<h1 th:text="${title}" style="text-align:center;
                               font-size: 56px;">Default Title</h1>
<!--<p th:if="${user}" th:text="'logged in as ' + ${user.name}"></p>-->


<nav th:fragments="navigation" >
    <a class="btn btn-secondary otherNav" href="/login/">login</a>
    <a class="btn btn-secondary otherNav" href="/register">register</a>
    <a class="btn btn-secondary otherNav" href="/logout">logout</a>

    <span th:if="${condition} == 1">
    <a class="btn btn-secondary otherNav" href="/home/starter">add starting data*</a>
        <!--make this only show up when someone is logged in and they have no data-->
    </span>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/players">players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/item">inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tasks">tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/changes">changes</a>
            </li>
        </ul>
    </div>
</nav>

<span style="font-size: 12px;" th:if="${condition} == 1">*Inserts generic data to see how the website works.</span>

<div id="instructionGap"></div>
<h3 style="text-align:center">Instructions</h3>
<h4>Inventory</h4>
<p>This is where you can see all of the items that you have created. To create an item you first need to create a
    category. You can create a category once you are on the inventory page. Think of Categories as “types of items”.
    If you wanted to add an XL jacket number 13 you would first need to create the category “jacket”. Once you create
    a category you will be able to select it from a dropdown when you are creating items. </p>
<p>On the items page you can create, remove, and edit your items. Items are sorted by category and then size. Items are
    separated by whether they are in storage or out of storage. Once you give an item to a player it will go into out
    of storage. Items can only be removed if they are in storage. </p>
<h4>Players </h4>
<p>	This is where you can give items to players. Click on a player to see what items they have. The add/remove items
    button takes you to where you can see all items available to take. You also have the option for players to give
    items back. </p>
<h4>Search</h4>
<p>	If you need to find an item, simply enter in the category and number and a highly sophisticated algorithm gives
    you all the useful information you need to know.
</p>
<h4>Tasks</h4>
<p>	This allows the user to assign tasks to players. This is intended to help coaches remember what each player needs
    to get done. Click on the task name to see who has or has not completed each task. </p>
<h4>Changes</h4>
<p>	This is where you can see every change that has taken place in the app. Every time you add a player, remove a
    category, give a task to a player, or anything else within the app, we make a record of it. You can click each of
    the categories to see which type of change you would like to see. </p>

</body>
</html>