<!DOCTYPE html>
<html class="myFontClass" lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body id="background" class="container body-content bottomSpace">
<h1 th:text="${title}" style="text-align:center;
                               font-size: 56px;">Default Title</h1>
<!--<p th:if="${user}" th:text="'logged in as ' + ${user.name}"></p>-->


<nav th:fragments="navigation" >
    <a class="btn btn-secondary otherNav" href="/login/">login</a>
    <a class="btn btn-secondary otherNav" href="/register">register</a>
</nav>
<div id="instructionGap"></div>

<h2 class="centerIt">Welcome! Thank you so much for using my my app. I hope you like it!</h2>

<p class="centerIt">Before you do anything, make sure you create an account and log in. once you’ve done that there is an option to
    'add starting data'. I highly recommend you use this feature if you are just poking around. This gives you predetermined
    data to work with so you don’t have to add everything yourself.</p>
</body>
</html>